<h2 class="govuk-heading-m">{{ params.headingText | default('Contact us') }}</h2>

<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body">
    <a class="govuk-link" href="mailto:licensing@nature.scot">licensing@nature.scot</a>
</p>

<h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">01463 725 364</p>
<p class="govuk-body">Monday to Friday, 10am to 4pm (except public holidays)</p>
<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>.</p>
<p class="govuk-body">
