$font-family: 'Roboto' !default;
$path-prefix: '' !default;
$govuk-assets: $path-prefix + '/govuk-frontend/dist/govuk/' !default;
$naturescot-assets: $path-prefix + '/naturescot-frontend/assets/' !default;

@forward 'govuk-frontend/dist/govuk' with (
  $govuk-font-family: $font-family,
  $govuk-assets-path: $naturescot-assets,
  $govuk-new-organisation-colours: true
);

@forward 'components/all';
