@import "govuk-frontend/dist/govuk/settings/index";
@import "govuk-frontend/dist/govuk/tools/index";
@import "govuk-frontend/dist/govuk/helpers/index";

@include govuk-exports("naturescot/component/cookie-bar") {
  .naturescot-cookie-bar {
    display: block;
    width: 100%;
    padding-top: govuk-spacing(4);
  }
}
