
<!-- The default -->
<link rel="shortcut icon" type="image/png" sizes="192x192" href="{{ params.assetPath | default('./assets') }}/images/icon-192x192.png">

<!-- Some apple-specific icons -->
<link rel="apple-touch-icon" sizes="192x192" href="{{ params.assetPath | default('./assets') }}/images/icon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ params.assetPath | default('./assets') }}/images/icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="{{ params.assetPath | default('./assets') }}/images/icon-167x167.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ params.assetPath | default('./assets') }}/images/icon-152x152.png">
<link rel="apple-touch-icon" href="{{ params.assetPath | default('/assets') }}/images/icon-120x120.png">
